<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- 数据库相关配置的键名 -->
		<!-- 是否定制，把此项的值改为1 -->
		<add key="Db.Customize" value="0" />
		<add key="Db.Master" value="Db:Master" />
		<add key="Db.Product" value="Db:Product" />
		<add key="Db.Report" value="Db:Report" />
		<add key="Db.Digital" value="Db:Digital" />
		<add key="Db.Foreign" value="Db:Foreign" />
		<add key="Db.Marketing" value="Db:Marketing" />

		<!-- RabbitMQ相关配置的键名 -->
		<!-- 是否定制，把此项的值改为1 -->
		<add key="RabbitMQ.Customize" value="0" />
		<add key="RabbitMQ.Host" value="RabbitMQ:Host" />
		<add key="RabbitMQ.Port" value="RabbitMQ:Port" />
		<add key="RabbitMQ.VirtualHost" value="RabbitMQ:VirtualHost" />
		<add key="RabbitMQ.Username" value="RabbitMQ:username" />
		<add key="RabbitMQ.Password" value="RabbitMQ:Password" />

		<!-- Redis相关配置的键名 -->
		<!-- 是否定制，把此项的值改为1 -->
		<add key="Redis.Customize" value="0" />
		<add key="Redis.Host" value="Redis:Host" />
		<add key="Redis.Port" value="Redis:Port" />
		<add key="Redis.Password" value="Redis:Password" />

	</appSettings>
</configuration>