<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- 是否定制，把此项的值改为1 -->
		<add key="Customize" value="1" />
		
		<!-- 数据库相关配置的键名 -->
		<add key="Db.Master" value="db:master" />
		<add key="Db.Product" value="db:product" />
		<add key="Db.Report" value="db:report" />
		<add key="Db.Digital" value="db:digital" />
		<add key="Db.Foreign" value="db:foreign" />
		<add key="Db.Marketing" value="db:marketing" />

		<!-- RabbitMQ相关配置的键名 -->
		<add key="RabbitMQ.Host" value="rabbitmq:host" />
		<add key="RabbitMQ.Port" value="rabbitmq:port" />
		<add key="RabbitMQ.VirtualHost" value="rabbitmq:vhost" />
		<add key="RabbitMQ.Username" value="rabbitmq:username" />
		<add key="RabbitMQ.Password" value="rabbitmq:password" />

		<!-- Redis相关配置的键名 -->
		<add key="Redis.Host" value="redis:host" />
		<add key="Redis.Port" value="redis:port" />
		<add key="Redis.Password" value="redis:password" />

	</appSettings>
</configuration>